body {
    font-family: 'Pricedown Bl', sans-serif;
    text-align: center;
    
}

h1{
    margin: 60px auto;
    color: rgb(242, 125, 252);
}

button {
    width: 150px;
    height: 50px;
    margin:20px auto;
    
}

#board {
    width: 450px;
    height: 450px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

#info {
    margin-top: 40px;
    color: rgb(242, 125, 253);
}

.tile {
    width: 148px;
    height: 148px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0,168,255);
    transition: background-color 0.5s ease-out 50ms
}
.tile:hover{
    background-color: rgb(2,102,200);
}
.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.X {
    background-color: rgb(2,102,200);
    color: rgb(13, 235, 68);
}

.O{
    background-color: rgb(2,102,200);
    color: rgb(242, 125, 253);
}